html {
    font-size: 16px;
}

body {
    background-image:url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2870&q=80);
    color: #fff;
}

header {
    background: rgba(30, 30, 30, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

section {
    padding: 0px 10% 80px 10%;
}

.planetContainer {
    padding: 80px 80px 0 80px;
}

.planetDetails {
    padding: 20px 50px 50px 50px;
    background: rgba(30, 30, 30, 0.7);
    height: 600px;
}

.overviewDesc, .internalStructureDesc, .surfaceGeologyDesc {
    font-size: 1rem;
}

.planetStats {
    margin-top: 100px;
}

.planetStats div {
    background: rgba(30, 30, 30, 0.7);
}

.detailsBtn {
    border: 1px solid #ccc;
    padding: 15px;
    cursor: default;
}

.detailsBtn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #4106bd;
    border: 1px solid #4106bd;
}

.menu-item {
    cursor: default;
    color: #fff;
    height: 100%;
    font-size: 20px;
}

.menu-item:hover {
    text-decoration: none;
    background: #fff;
    color: black;
    cursor: pointer;
}

.selected {
    border: 1px solid #510be3;
    background: #510be3;
    cursor: default;
}

.selected:hover {
    cursor: default;
    background: #510be3;
}