body {
    background-image:url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2870&q=80);
    color: #fff;
}

header {
    padding: 10px 0;
}

section {
    padding: 0px 10% 80px 10%;
}

.planetContainer {
    padding: 80px 80px 0 80px;
}

.planetDetails {
    padding: 50px;
    background: rgba(30, 30, 30, 0.6);
}

.planetStats {
    margin-top: 100px;
}

.planetStats div {
    background: rgba(30, 30, 30, 0.6);
}

.detailsBtn {
    background: #510be3;
    padding: 15px;
    cursor: default;
}

.detailsBtn:hover {
    text-decoration: none;
    cursor: pointer;
    background: #4106bd;
}

.planetDetails p {
    font-size: 20px;
}

.menu-item {
    cursor: default;
    color: #fff;
    height: 100%;
    vertical-align: baseline;
    padding: 12px 10px 8px 10px;
}

.menu-item:hover {
    text-decoration: none;
    background: #fff;
    color: black;
    cursor: pointer;
}